---
- name: Deploy Kibana via Docker 
  hosts: kibana.ru-central1.internal
  become: yes
  tasks:
    - name: Install Docker prerequisites
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present

    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu jammy stable"
        state: present
        filename: docker

    - name: Install Docker
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: present

    - name: Ensure Docker is started
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Install python3-docker
      apt:
        name: python3-docker
        state: present

    - name: Run Kibana container
      docker_container:
        name: kibana
        image: docker.io/elastic/kibana:7.17.21
        state: started
        restart_policy: unless-stopped
        ports:
          - "5601:5601"
        env:
          ELASTICSEARCH_HOSTS: "http://elasticsearch.ru-central1.internal:9200"
          SERVER_HOST: "0.0.0.0"
 

    - name: Wait for Kibana to respond
      uri:
        url: http://localhost:5601
        method: GET
        status_code: 200
      register: result
      until: result.status == 200
      retries: 20
      delay: 6
